asgiref==3.9.1
Django==5.2.5
django-cors-headers==4.7.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
PyJWT==2.10.1
python-dotenv==1.1.1
sqlparse==0.5.3
requests==2.32.3
imapclient==3.1.0
rapidfuzz==3.14.5
reportlab==4.5.0
pillow==12.2.0
